body {
    color: $dark-gray;
    font-family: 'Gotham';
    font-weight: 300;
    font-size: 1.25rem;
}

a {
    color: $gold;
    &:hover {
        color: $dark-gold;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: $gold;
    font-family: 'Aleo';
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 5px;
}


.banner-border {
    border: 2px solid $white;
    margin: 3rem auto;
    
    @media screen and (max-width: 767px) {
        max-width: 95%;
    }
    
    .fl-module-content {
        margin: 3rem;
        text-align: center;
        
    }
}

.fl-photo-caption-below {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 1rem 0 0;
    line-height: 1;
    font-size: 1.25rem;
}

