// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;


// Colors

$white:         #ffffff;
$black:         #000000;
$gold:          #c5ac73;
$dark-gold:     #9a865a;
$light-gray:    #919199;
$lighter-gray:  #dadada;
$dark-gray:     #525055;
